<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-0 text-center m-5">
    <div class="form-signin m-auto">
        <form #usuario="ngForm">
            <h1 class="h3 mb-3 fw-normal">Ingreso solo Administradores</h1>
            <div class="form-floating">
                <input [(ngModel)]="admin.usuario" name="usuario" type="text" class="form-control" id="floatingInput" placeholder="Admin">
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating">
                <input [(ngModel)]="admin.contra" name="contra" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <button (click)="signIn();" class="btn btn-primary w-100 py-2" type="submit">Ingresar</button>
        </form>
    </div>
</div>
